.color-background-sidebar{
    background-color: #FCFCFC
}
.is-90x90{
    width: 90px;
    height: 90px;
}
.chartbutton{
    width: 66px;
    height: 27px;
    border-radius: 16px;
    background-color:#EAECF3;
}
.button-style{
    background: transparent linear-gradient(71deg, #8F17EC 0%, #2B74E7 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px;
    width: 120px;
    height: 40px;
}
.uu{
    background: linear-gradient(115deg, #01B938 0%, #41DC4E 100%) ;
    border-radius: 10px;
    opacity: 0.4;
}
.icon-style{
    position: absolute;
    top: 32px;
    right: 200px;
    opacity: 0.4;
    font-size: 8rem;
    z-index: -1;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF445E;
    color: white;
}
.icons-box{
    width: 98px;
    height: 78px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
}